<!-- BEGIN PAGINATOR -->
{% if pageCount > 1 %}
    <div class="row">
        <div class="col-md-4 col-sm-4 items-info">Items {{ firstItemNumber }} to {{ lastItemNumber }} of {{ totalCount }} total</div>
        <div class="col-md-8 col-sm-8">
            <ul class="pagination pull-right">
                {% if first is defined and current != first %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
                    </li>
                {% endif %}

                {% if previous is defined %}
                    <li><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;</a></li>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li><span class="current">{{ page }}</span></li>
                    {% endif %}

                {% endfor %}

                {% if next is defined %}
                    <li class="next">
                        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
                    </li>
                {% endif %}

                {% if last is defined and current != last %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
<!-- END PAGINATOR -->
